tqdm
einops
spaces
timm
transformers
gradio
supervision
opencv-python
pytest

#samv2
# Rdancer's version of samv2 includes a fix that makes it not crash on Windows
git+https://github.com/rdancer/sam2.git
